@charset "UTF-8";
/* CSS Document */

*{
	margin:0 auto;	
	
}
.container {
	width:95%;
	background-color: #FFC;
	text-align: center;
	padding-bottom: 20px;
	height: auto;
}
body {
	background-color: #E9E194;
}

.shadow {
-moz-box-shadow: 0 0 15px #252525;
-webkit-box-shadow: 0 0 15px #252525;
box-shadow: 0 0 15px #252525;
}

.header {
	width:auto;
	height:140px;
	background-image: url(../images/top2.gif);
	background-repeat: no-repeat;
	text-align: center;
/* 	background-position: -40px; */
	/* margin-right: 130px; */
	margin-left: 20px;
	margin-bottom: 15px;
}

.menu {
	text-align: left;
	padding: 0px;
	background-color: #5A554E;
	margin-bottom: 40px;
}

.content {
	text-align: left;
	padding: 20px;
	height: auto; */	
	overflow:on;
}

#navcontainer ul
{
	padding-left: 0;
	margin-left: 0;
	background-color: #AE7E27;
	color: White;
	float: left;
	width: 95%;
	font-family: arial, helvetica, sans-serif;
}

/*menunavigation*/

#navcontainer ul li { display: inline; }

#navcontainer ul li a
{
	padding: 0.2em 1em;
	background-color: #AE7E27;
	color: White;
	text-decoration: none;
	float: left;
	border-right: 1px solid #fff;
}

#navcontainer ul li a:hover
{
	background-color: #79290F;
	color: #fff;
}
